<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sgc.serviceproduct.mapper.BrandMapper">

    <resultMap id="BaseResultMap" type="com.sgc.serviceproduct.entity.Brand">
            <id property="brandId" column="brand_id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="logo" column="logo" jdbcType="VARCHAR"/>
            <result property="descript" column="descript" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        brand_id,name,logo,
        descript
    </sql>
    <update id="updateByBrandId">
        update p_brand set name=#{name}, logo=#{logo}, descript=#{descript}
                       where brand_id = #{brandId}
    </update>
    <delete id="removeByBrandId">
        delete from p_brand where brand_id = #{id}
    </delete>
    <select id="selectByBrandId" resultType="com.sgc.serviceproduct.entity.Brand">
        select * from t_brand where id=#{id}
    </select>

</mapper>
